apps/rte/corpus/rte1_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="entailment-corpus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pair" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
	            		<xs:documentation>start of rte1_dev2.xml</xs:documentation>
	          		</xs:annotation>
	        		<xs:complexType>
		            	<xs:sequence>
		              		<xs:element type="xs:string" name="t"/>
		              		<xs:element type="xs:string" name="h"/>
		            	</xs:sequence>
		            	<xs:attribute type="xs:integer" name="id" use="optional"/>
		            	<xs:attribute type="xs:string" name="value" use="optional"/>
		            	<xs:attribute type="xs:string" name="task" use="optional"/>
	          		</xs:complexType>
	       		</xs:element>
	       	</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>