apps/rte/corpus/rte2_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="entailment-corpus">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pair" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="t"/>
							<xs:element type="xs:string" name="h"/>
						</xs:sequence>
						<xs:attribute type="xs:integer" name="id" use="optional"/>
						<xs:attribute type="xs:string" name="entailment" use="optional"/>
						<xs:attribute type="xs:string" name="task" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:integer" name="challenge"/>
		</xs:complexType>
	</xs:element>
</xs:schema>